

<div class="d-flex  justify-content-center article-container">
  <article class ="article-body">

    <header class="d-flex header-custom justify-content-center align-items-center mb-3 mb-sm-0">
      <h1>{{specTitle}}</h1>
      <img class="specialization-icon" [src]="environment.apiUrl+'/'+environment.apiVersion+'/specialization/'+id+'/photo'" alt="Specialization icon">
    </header>
    <section class ="article-body" [innerHTML]="specText">

      </section>
  </article>

  <img *ngIf="imageExists"
       class="side-photo"
       [src]="environment.apiUrl+'/'+environment.apiVersion+'/specialization/'+id+'/page/photo'"
       (error)="onImageError()"
       alt="Specialization Photo">
</div>


