@import "../../styles.scss";

header {
  width: 100%;
  position: fixed;
  z-index: 1000; // Header beneath cards????
}

@media (max-width: 524px) {
 .KAAD-logo{
   display: none;
 }
}

.logo-and-language {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding-left: 5vw;
  padding-right: 6vw;
  box-shadow: 0 4rem 5rem rgba(0, 0, 0, 0.2);
  background: #ffffff;
  transition: padding-left 0.3s ease;
}

header.scrolled .logo-and-language {
  padding-left: 2vw;
}

.logo-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 5vw;
}

.AD-letters {
  max-width: 3rem;
  height: auto;
  padding-right: 10px;
  transition: transform 0.3s ease;
}

header.scrolled .AD-letters{

}

.KAAD-logo {
  height: auto;
  width: 20rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

header.scrolled .KAAD-logo{
  opacity: 0;
}

ul.languages-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.languages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-list-element {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-flag {
  max-width: 2rem;
  height: auto;
  box-shadow: 0 0 4px black;
}



.navigation-list-div {
  width: 40rem;
  max-width: 50rem;
  height: 3.4rem;
  margin-left: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  position: relative;
  left: 0;
  top: 0;
  transition: background 0.3s ease, top 0.3s ease;
}



header.scrolled .navigation-list-div{
  background: transparent;
  top: -4rem;
}

.navigation-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  margin: 0;
  width: 100%;
}

.navigation-list-element {
  display: inline;
  padding-right: 10px;
}

.navigation-list-element a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  transition: color 0.3s ease;
  font-family:  Noto-Serif, serif;
}

@media (max-width: 650px){
  .navigation-list-div{
    margin-left: 15px;
    width: 28rem;
  }
  .navigation-list-element a{
    font-size: 1rem;
  }
}

@media (max-width: 400px){
  .navigation-list-div{
    margin-left: 1vw;
    width: 24rem;
  }
  .navigation-list-element a{
    font-size: 0.8rem;
  }
}

.navigation-list-element:not(:last-child) {
  border-right: 2px solid black;
  transition: border-right 0.3s ease;
}

header.scrolled .navigation-list-element a{
  color: #002a17;
}

header.scrolled .navigation-list-element:not(:last-child) {
  border-right: 2px solid #023b28;
}

header.scrolled .navigation-list-element.active a{
  color: #286653;
}

.navigation-list-element.active a {
  color: #286653;
}
