<footer class="bg-light py-4">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-auto">
        <img class="KD-logo img-fluid" src="/assets/AD-logo.png" alt="KD letters">
      </div>
      <div class="col-auto">
        <img class="KAAD-logo img-fluid" src="/assets/KAAD-logo.png" alt="Adrian Dzienkiewicz Kancelaria Adwokacka">
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <nav class="col-auto">
        <ul class="navigation-list list-unstyled d-flex flex-wrap justify-content-center">
          <li *ngFor="let link of links;" class="navigation-list-element d-flex align-items-center me-3">
            <img src="/assets/icons/link.png" alt="link icon" class="me-2">
            <a href="{{link.url}}" class="text-decoration-none">{{link.label}}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="row justify-content-between">
      <div class="col-auto">
        <!-- Empty div for alignment -->
      </div>
      <div class="col-auto text-end">
        <p class="mb-0 legal">2024 Kancelaria Prawna.</p>
        <p class="mb-0 legal">Wszystkie prawa zastrzeżone</p>
      </div>
    </div>
  </div>
</footer>
