h2 {
  font-size: 3rem;
  font-family: 'Open-Sans', serif;
}

ul {
  padding-bottom: 2.5rem;
}

p {
  margin: 0;
  font-weight: bolder;
  color: gray;
}

.member-info {
  font-family: 'Open-Sans', serif;
  font-size: 1.5rem;
}

strong {
  font-size: 2rem;
}

.member-icon {
  min-width: 50%;
  width: 25rem;
  object-fit: cover;
  padding: 1rem;
}

.member-links {
  color: gray;
}

.icon {
  width: 32px;
  height: 32px;
  margin: 0 0.5rem;
}

.even {
  flex-direction: row;
}

.align-self-end {
  flex-direction: row-reverse;
}

.align-self-end .member-info {
  text-align: right;
}

//.member {
//  margin: 0;
//  border: 1px solid #ddd;
//  border-radius: 8px;
//}

@media (max-width: 767.98px) {
  //.even,
  //.odd {
  //  flex-direction: column;
  //  text-align: center;
  //}

  //.odd .member-info {
  //  text-align: center;
  //}
}
