@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}

.container{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: Noto-Serif, Arial, sans-serif;
}
.head{
  font-family: Noto-Serif, Arial, sans-serif;
  font-weight: bold;
}

.form-control{
  border: 0;
  background: rgba(230, 230, 230, 1);
  border-radius: 2rem;
  font-weight: bold;
}
.name{
  width: 70%;
}

.phone{
  width: 30%;
  margin-left: 3rem;
}

.form-select{
  border: 0;
  background-color: rgba(230, 230, 230, 1);
  border-radius: 2rem;
  font-weight: bold;
}

.submit-btn{
  background-color: #2C6F53;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 2rem;
}

.submit-btn:active{
  background-color: rgba(230, 230, 230, 1);
}

.invite-text{
  font-weight: bold;
}

.contact-info{
  width: auto;
}

.map-container{
  width: 25rem;
  height: 25rem;
}

iframe {
  width: 100%;
  height: 100%;
}

//@media (max-width: 1024px) {
//  iframe {
//    width: 22rem;
//    height: 22rem;
//  }
//}
//
@media (max-width: 375px) {
  .map-container{
    width: 20rem;
    height: 20rem;
  }

  iframe {
    width: 20rem;
    height: 20rem;
  }
}
