<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-6 me-md-4 me-sm-0">
      <div class="form-container">
        <h2 class="text-center head mb-4">Rejestracja na konsultację</h2>
        <form>
          <div class ='d-flex flex-row mb-4'>
            <input type="text" class="form-control  name" placeholder="imię i nazwisko" required>
            <input type="tel" class="form-control phone" placeholder="nr telefonu" required>
          </div>
          <select class="form-select mb-4">
            <option selected disabled>Rodzaj usługi</option>
            <!-- Add options here -->
          </select>
          <select class="form-select mb-4">
            <option selected disabled>Metoda komunikacji</option>
            <!-- Add options here -->
          </select>
          <button type="submit" class="btn submit-btn w-100">Wyślij formularz</button>
        </form>
      </div>

      <p class = 'text-start mt-4 invite-text'>Zapraszamy do kontaktu z naszą Kancelarią Adwokacką. Jesteśmy profesjonalnym zespołem prawników, którzy oferują kompleksową obsługę prawną. Prowadzimy także konsultacje online!</p>

    </div>
    <div class="col-md-4">
      <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4887.877231785421!2d20.940064539174262!3d52.22633302714826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecbc3e10dca43%3A0x1671397b75619207!2sAdrian%20Dzienkiewicz%20Kancelaria%20Adwokacka!5e0!3m2!1suk!2spl!4v1723722816178!5m2!1suk!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="contact-info mt-4">
        <div class="contact-icons mt-3">
          <p><i class="bi bi-geo-alt"></i> ul. Żurawia 22 lok. 308<br>00-515 Warszawa</p>
        </div>
      </div>
    </div>
  </div>
</div>
