<div class="container d-flex h-100 flex-column justify-content-center">
  <div class="row justify-content-around">
    <div class="col-lg-6">
      <div class="form-container">
        <h2 class="text-center head mb-4">{{title}}</h2>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class ='d-flex flex-row mb-4'>
            <input type="text" formControlName="fullName" class="form-control name" placeholder="{{fullNameLabel}}" required>
            <input type="tel" formControlName="phone" class="form-control phone" placeholder="{{phoneLabel}}">
          </div>
          <div class="mb-4">
            <input type="email" formControlName="email" class="form-control w-100" placeholder="{{emailLabel}}">
          </div>
          <select formControlName="serviceType" class="form-select mb-4">
            <option value="" selected disabled>{{ serviceTypeLabel }}</option>
            <option *ngFor="let service of services" [value]="service">{{ service }}</option>
          </select>
          <select formControlName="communicationMethod" class="form-select mb-4">
            <option value="" selected disabled>{{communicationMethodLabel}}</option>
            <option *ngFor="let contactType of contactTypes" [value]="contactType.id">{{ contactType.contactType }}</option>
          </select>
          <button type="submit" class="btn submit-btn w-100">{{sendFormLabel}}</button>
        </form>
      </div>
      <p class = 'text-start mt-4 invite-text'>{{description}}</p>
    </div>
    <div class="col-lg-5">
      <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4887.877231785421!2d20.940064539174262!3d52.22633302714826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecbc3e10dca43%3A0x1671397b75619207!2sAdrian%20Dzienkiewicz%20Kancelaria%20Adwokacka!5e0!3m2!1suk!2spl!4v1723722816178!5m2!1suk!2spl" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="contact-info mt-4">
        <div class="contact-icons mt-3">
          <p><i class="bi bi-geo-alt"></i> ul. Żurawia 22 lok. 308<br>00-515 Warszawa</p>
        </div>
      </div>
    </div>
  </div>
</div>
