<div>
<header [class.scrolled]="isScrolled">
    <div class = "logo-and-language">
        <div class = "logo-images">
          <a [routerLink]="'/about'" class="no-style" routerLinkActive="true">
            <img class ="AD-letters" src="/assets/AD-logo.png" width="48" height="48" alt="AD-letters">
          </a>
          <a [routerLink]="'/about'" class="no-style" routerLinkActive="true">
            <img class = "KAAD-logo" src="/assets/KAAD-logo.png" width="200" height="48" alt="Adrian Dzienkiewicz Kancelaria Adwokacka">
          </a>
        </div>

      <app-laguage-list class ="languages"></app-laguage-list>

    </div>

    <div class ="navigation-list-div">
      <nav>
        <ul class ="navigation-list">

          <li *ngFor="let link of links; let i = index"
              class="navigation-list-element"
              [class.active]="navListService.isActive(i)"
              (click)="link.action(i)">
            <a [routerLink]="link.url" [class.disabled] = "!link.active">{{ link.label }}</a>

            <ng-container *ngIf="!link.active">
              <ul  *ngIf="isListShown" class="dropdown-menu">
                <li class ="dropdown-menu-element" *ngFor="let subLink of link.dropdown">
                  <a [routerLink]="link.url + '/' + subLink.id">{{ subLink.name }}</a>
                </li>
              </ul>
            </ng-container>

          </li>

        </ul>
      </nav>
    </div>

</header>
</div>
