section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.article-content{
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

h2 {
  font-size: 2.5em;
  padding: 20px;
  margin: 0;
  font-family: Noto-Serif, Open-Sans, 'serif';
  font-weight: bold;
  letter-spacing: -0.2px;
}

p {
  font-family: Noto-Serif, Open-Sans, 'serif';
  letter-spacing: 0.5px;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 450;
}

.lawyer-img {
  object-fit: cover;
  width: 20rem;
}

@media (max-width: 767.98px) {
  h2 {
    font-size: 2em;
  }

  .lawyer-img {
    width: 100%;
    max-width: 20rem;
  }

  p {
    font-size: 1rem;
  }
}
