<div class="container">
  <h1>Languages</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Język</th>
      <th>Kod</th>
      <th>Standardowy</th>
      <th>Obrazek</th>
      <th>Akcję</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let language of languages">
      <td>
        <span *ngIf="editingLanguageId !== language.id">{{ language.language }}</span>
        <input *ngIf="editingLanguageId === language.id" [(ngModel)]="editedLanguage.language">
      </td>
      <td>
        <span *ngIf="editingLanguageId !== language.id">{{ language.code }}</span>
        <input *ngIf="editingLanguageId === language.id" [(ngModel)]="editedLanguage.code">
      </td>
      <td>
        <span *ngIf="editingLanguageId !== language.id">
          <span *ngIf="language.defaultLanguage">Yes</span>
          <span *ngIf="!language.defaultLanguage">No</span>
        </span>
        <select *ngIf="editingLanguageId === language.id" [(ngModel)]="editedLanguage.defaultLanguage">
          <option [ngValue]="true">Tak</option>
          <option [ngValue]="false">Nie</option>
        </select>
      </td>
      <td>
        <span *ngIf="editingLanguageId !== language.id">
          <img
            style="width: 28px;height: 16px"
            width="32"
            height="16"
            [alt]="language.language + ' language icon'"
            [src]="environment.apiUrl+'/'+environment.apiVersion+'/language/'+language.id+'/icon'"
          >
        </span>
        <div *ngIf="editingLanguageId === language.id">
          <input type="file" (change)="onImageSelected($event)" accept="image/*">
          <img *ngIf="previewImage" [src]="previewImage" alt="Preview" style="width: 28px; height: 16px; margin-top: 5px;">
        </div>
      </td>
      <td>
        <button *ngIf="editingLanguageId !== language.id"
                class="btn btn-primary btn-sm"
                (click)="editLanguage(language.id, language)">
          Redaguj
        </button>
        <button *ngIf="editingLanguageId !== language.id"
                class="btn btn-danger btn-sm"
                (click)="deleteLanguage(language.id)">
          Usuń
        </button>
        <button *ngIf="editingLanguageId === language.id"
                class="btn btn-success btn-sm"
                (click)="confirmEditLanguage(language.id)">
          Potwierdź
        </button>
        <button *ngIf="editingLanguageId === language.id"
                class="btn btn-secondary btn-sm"
                (click)="cancelEditLanguage()">
          Wróć
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
