.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 20;
  text-align: center;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #023b28;
  --bs-btn-border-color: #286653;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #286653;
  --bs-btn-hover-border-color: #002a17;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #286653;
  --bs-btn-active-border-color: #023b28;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #002a17;
  --bs-btn-disabled-border-color: #002a17;
  border-radius: 50px;
  padding: 1rem;
  font-family: Noto-Serif, Arial, sans-serif;
  width: 7rem;
}
