@import "../styles.scss";
@import '../../node_modules/ckeditor5/dist/ckeditor5.css';

main{
  display: flex;
  justify-content: center;
  min-height: 90vh;
  flex-wrap: wrap;
  //align-content: center;
  padding-top: $header-height;

  &.no-header {
    display: block;
    padding-top: 0;
  }
}

