<div class="login-container">
  <div class="login-form">
    <h2 class="text-center mb-4">Login</h2>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
    >
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Hasło</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Hasło">
      </div>
      <button type="submit" class="btn btn-primary w-100">Zaloguj</button>
    </form>
  </div>

</div>
