
<!--  <ul class="languages-list">-->
<!--    <li class="language-list-element"><a href="#"><img class = "language-flag" src="/assets/flags/f_pl_r.png" alt="Polish language"></a></li>-->
<!--    <li class="language-list-element"><a href="#"><img class = "language-flag" src="/assets/flags/f_uk_r.png" alt="English language"></a></li>-->
<!--    <li class="language-list-element"><a href="#"><img class = "language-flag" src="/assets/flags/f_ua_r.png" alt="Ukrainian language"></a></li>-->
<!--  </ul>-->

  <ul class="languages-list" *ngIf="langLoaded">
    <li *ngFor="let language of languages"  class="language-list-element">
      <a (click)="changeLanguage(language)">
        <img class="language-flag"
             [src]="environment.apiUrl+'/'+environment.apiVersion+'/language/'+language.id+'/icon'"
             [alt]="language.language + ' language icon'"
             width="32"
             height="16"
             style="width: 28px;height: 16px"
        >
      </a>
    </li>
  </ul>

