<div class="container mt-6 mb-5">
  <div class="d-grid gap-3">

<!--    <div class="p-4 blog-item rounded-5">-->
<!--      <div class ='d-flex flex-row'>-->
<!--          <div class ='author-img'>-->

<!--          </div>-->
<!--          <div class = 'd-flex flex-column'>-->
<!--            <div class ='d-flex flex-row mb-1 blog-head'>-->
<!--              <strong class = 'me-3'>Adrian Dzienkiewicz</strong>-->
<!--              <span>20 minut temu</span>-->
<!--            </div>-->
<!--            <div class="blog-body">-->
<!--              <p>-->
<!--                Informuje bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla bla blabla bla bla bla Informuje bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla bla blabla bla bla bla Informuje bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla bla blabla bla bla bla Informuje bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla bla blabla bla bla bla-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="p-4 blog-item rounded-5">-->
<!--      <div class ='d-flex flex-row'>-->
<!--        <div class ='author-img'>-->

<!--        </div>-->
<!--        <div class = 'd-flex flex-column'>-->
<!--          <div class ='d-flex flex-row mb-1 blog-head'>-->
<!--            <strong class = 'me-3'>Adrian Dzienkiewicz</strong>-->
<!--            <span>20 minut temu</span>-->
<!--          </div>-->
<!--          <div class="blog-body">-->
<!--            <p>-->
<!--              Informuje bla bla bla bla-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->



    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>


  </div>
</div>
