$header-height: 5rem;

header{
  height: $header-height;
}

body{
  margin: 0;
}

@font-face {
  font-family: 'Noto-Serif';
  src: url('/assets/fonts/Noto_Serif_Display/NotoSerifDisplay.ttf');
}

@font-face {
  font-family: 'Open-Sans';
  src: url('/assets/fonts/OpenSans.ttf');
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
