<div class="p-4 blog-item rounded-5"
  id="'p-'{{post.id}}"
>
  <div class ='d-flex flex-row'>
    <div class ='author-img'>
      <img alt="Author avatar" src="{{environment.apiUrl+'/'+environment.apiVersion+'/post/' + post.id + '/author-image'}}">
    </div>
    <div class = 'd-flex flex-column'>
      <div class ='d-flex flex-row mb-1 blog-head'>
        <strong class = 'me-3'>{{post.author}}</strong>
        <span>{{processTime(post.createdAt)}}</span>
      </div>

      <div [class.expanded]="!isPostHidden"
           [class.collapsed]="isPostHidden"
           [class.hidden-text]="isPostHidden" class="blog-body"
           [innerHTML]="post.content">
<!--        <p [class.hidden-text]="isPostHidden" [innerHTML]="post.content"></p>-->
<!--        <p *ngIf="isPostHidden" class="hidden-text">{{ getStartOfPost() }}...</p>-->
      </div>

      <div *ngIf="ifHidePost()" class="d-flex justify-content-center">
        <button class="show-btn" (click)="togglePost()">
          {{ isPostHidden ? 'czytaj dalej' : 'zwiń' }}
        </button>
      </div>

    </div>
  </div>
</div>
