<div class="p-4 blog-item rounded-5"
  id="'p-'{{post.postId}}"
>
  <div class ='d-flex flex-row'>
    <div class ='author-img'>

    </div>
    <div class = 'd-flex flex-column'>
      <div class ='d-flex flex-row mb-1 blog-head'>
        <strong class = 'me-3'>{{post.author}}</strong>
        <span>{{processTime(post.createdAt)}}</span>
      </div>

      <div [class.expanded]="!isPostHidden" [class.collapsed]="isPostHidden" class="blog-body">
        <p [class.hidden-text]="isPostHidden">{{ post.content }}</p>
<!--        <p *ngIf="isPostHidden" class="hidden-text">{{ getStartOfPost() }}...</p>-->
      </div>

      <div *ngIf="ifHidePost()" class="d-flex justify-content-center">
        <button class="show-btn" (click)="togglePost()">
          {{ isPostHidden ? 'czytaj dalej' : 'zwiń' }}
        </button>
      </div>

    </div>
  </div>
</div>
